@page "/Tecnicos/Edit/{TecnicosId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation

<PageTitle>Editar Tecnico</PageTitle>
<EditForm Model="tecnicos" OnValidSubmit="Modificar">
	<DataAnnotationsValidator />
	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header bg-primary text-white">
				<h1><strong>Editar Tecnico</strong></h1>
			</div>
			<div class="card-body">
				@*Atributos Tecnicos*@
				<label for="id" class="form-label"><strong>ID</strong></label>
				<InputNumber id="id" class="form-control" @bind-Value="tecnicos.TecnicoId" readonly></InputNumber>

				<label for="NombreTecnico" class="form-label"><strong>Nombre</strong></label>
				<InputText id="NombreTecnico" class="form-control" @bind-Value="tecnicos.NombreTecnico"></InputText>
				<ValidationMessage For="@(()=> tecnicos.NombreTecnico)"></ValidationMessage>

				<label for="SueldoHora" class="form-label"><strong>SueldoHora</strong></label>
				<InputNumber id="SueldoHora" class="form-control" @bind-Value="tecnicos.SueldoHora"></InputNumber>
				<ValidationMessage For="@(()=> tecnicos.SueldoHora)"></ValidationMessage>
			</div>
			<div class="card-footer">
				<button type="button" class="btn btn-info text-white bi bi-arrow-90deg-left" @onclick="Volver"> Volver</button>
				<button type="submit" class="btn btn-success bi bi-pencil-square"> Modificar</button>
			</div>
		</div>
	</div>

</EditForm>



@code{

	[Parameter]
	public int TecnicosId { get; set; }
	public Tecnicos tecnicos { get; set; } = new Tecnicos();
	public bool Repetido { get; set;}


	protected override async Task OnInitializedAsync()
	{
		if(TecnicosId > 0)
		{
			tecnicos = await tecnicoService.Buscar(TecnicosId);
		}

	}

	//Metodo para validar
	public async Task<bool> Validar()
	{
		var existe = await tecnicoService.ValidarTecnico(tecnicos.NombreTecnico);
		Repetido = existe == null;
		return Repetido;

	}

	//Metodo para modificar atributos tecnicos
	public async Task Modificar()
	{
		if(!await Validar())
		{
			await tecnicoService.Guardar(tecnicos);
			tecnicos = new Tecnicos();
			Volver();
		}
	}

	//Metodo para volver
	public void Volver()
	{
		navigation.NavigateTo("/Tecnicos/Index");
	}






}