@page "/Tecnicos/Index"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation

<PageTitle> Registro de t&eacute;cnicos</PageTitle>
<div class = "container card shadow-lg">
	<div class="card-header bg-primary text-white text-center bi bi-person-gear">
		<h3><strong>Registro de t&eacute;cnicos</strong></h3>
	</div>
	<div class="row text-right">
		<div class="col-md-3">
			<label for="filtro" class="from label"><strong>Filtrar por:</strong></label>
			<InputSelect id="filtro" class="form-select" @bind-Value="filtro">
				<option value="id">ID</option>
				<option value="Nombre">Nombre del t&eacute;cnico</option>
				<option value="SueldoHora">Sueldo por hora</option>
			</InputSelect> 
	    </div>
		<div class="col-md-6">
			<label for="valorFiltro" class="form-label"><strong>B&uacute;squeda:</strong></label>
			<div class="input-group">
				<InputText id="valorFiltro" @bind-Value="valorFiltro" class="form-control" placeholder="Buscar" />
				<button @onclick="Buscar" class="btn btn-success bi bi-search" type="button"> B&uacute;scar</button>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-end justify-content-md-end mt-3 mt-md-0">
			<a href="/Tecnicos/Create" class="btn btn-success bi bi-plus-square-fill"> Crear</a>
		</div>
	</div>

	

	
	 
	@*Tabla*@
	<div class="card-body">
		<table class="table table-light">
			<thead class="table table-striped text-center table-bordered mt-3 bg-primary text-white">
				<tr>
					<th>ID</th>
					<th>Nombre T&eacute;cnico</th>
					<th>Sueldo T&eacute;cnico</th>
					<th>Ver</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				@*Buscar detalles de tecicos(Id,Nombre,Sueldo)*@
				@foreach (var tecnico in tecnicos)
				{
					<tr>
						<td class="text-center">@tecnico.TecnicoId</td>
						<td class="text-center">@tecnico.NombreTecnico</td>
						<td class="text-center">@tecnico.SueldoHora</td>

						@*Iconos*@
						<td class="text-center">
							<a href="/Tecnicos/Details/@tecnico.TecnicoId" class="btn btn-outline-info  bi bi-eye"></a>
						</td>
						<td class="text-center">
							<a href="/Tecnicos/Edit/@tecnico.TecnicoId" class="btn btn-outline-warning  bi bi-pencil-square"></a>
						</td>
						<td class="text-center">
							<a href="/Tecnicos/Delete/@tecnico.TecnicoId" class="btn btn-outline-danger bi bi-trash"></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>




@code {

	public List<Tecnicos> tecnicos = new List<Tecnicos>();
	public string filtro = "id";
	public string valorFiltro = "";

	protected override async Task OnInitializedAsync()
	{
		tecnicos = await tecnicoService.Listar(a => true);
	}

	//Metodo para buscar valor mediante filtro
	public async Task Buscar()
	{
		if (!string.IsNullOrWhiteSpace(valorFiltro))
		{ 
			switch (filtro)
			{
				case "id":
					if(int.TryParse(valorFiltro, out int id))
					{
						tecnicos = await tecnicoService.Listar(t => t.TecnicoId == id);	
					}
					break;

				case "Nombre":
					tecnicos = await tecnicoService.Listar(t => t.NombreTecnico.ToLower().Contains(valorFiltro.ToLower()));
					break;

				case "SueldoHora":
					if(decimal.TryParse(valorFiltro, out decimal SueldoHora))
					{
						tecnicos = await tecnicoService.Listar(t => t.SueldoHora == SueldoHora);
					}
					break;
			   }
	     	 }
	        else
			{
				tecnicos = await tecnicoService.Listar(async => true);
			}

		}
	}








