<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registro Técnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Tecnicos/Index">
                <span class="bi bi-person-circle d-flex justify-content-center align-items-center" aria-hidden="true"></span> Técnicos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TiposTecnicos/Index">
                <span class="bi bi-file-person-fill d-flex justify-content-center align-items-center" aria-hidden="true"></span> Tipo Técnicos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Clientes/Index">
                <span class="bi bi-person-video d-flex justify-content-center align-items-center" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Trabajos/Index">
                <span class="bi bi-person-workspace d-flex justify-content-center align-items-center" aria-hidden="true"></span> Trabajos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Prioridades/Index">
                <span class="bi bi-list-columns-reverse d-flex justify-content-center align-items-center" aria-hidden="true"></span> Prioridades
            </NavLink>  
        </div>
    </nav>
</div>
