@page "/"

<PageTitle>Registro T&eacute;cnicos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header bg-primary text-white  text-center bi bi-journal-code">
			<div class="text-center">
				<h3><strong>Registro de t&eacute;cnicos</strong></h3>
			</div>
		</div>
		<div class="card-header">
			<div class="card-center">
				<h3><strong>Bienvenido al registro para t&eacute;nicos!!</strong></h3>
				<h4>Creado por Freimy Hidalgo </h4>
				<h4>Matr: 2022-0219</h4>
			</div>
		</div>
	</div>
</div>

 